<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <link th:href="@{/styles/game.css}" rel="stylesheet" />
    <link th:href="@{/styles/gameover.css}" rel="stylesheet" />
    <title>CMPT 213 Online Hangman Game</title>
</head>
<body>
    <h1 class = "header"> HANGMAN GAME </h1>
    <div class = "container">
        <h1 class="completed"> This game is completed. </h1>
        <h1 th:text="'Game ' + ${game.status}"> header message</h1>
        <p> The word to be guessed was <b th:text="${game.wordToBeGuessed} + '.'"></b></p>
        <a th:href="@{/welcome}" > Back to Welcome page </a>
    </div>

</body>
</html>