<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <link th:href="@{/styles/game.css}" rel="stylesheet" />
    <title>CMPT 213 Online Hangman Game</title>
</head>
<body>
    <h1 class = "header"> HANGMAN GAME </h1>
    <div class = "container">
        <h1>Status 404</h1>
        <h1 th:text = "${promptMessage.message}"> header message </h1>
        <a th:href = "@{/welcome}" > Back to Welcome page </a>
    </div>
</body>
</html>