<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <link th:href="@{/styles/game.css}" rel="stylesheet" />
    <title>CMPT 213 Online Hangman Game</title>
</head>
<body>
    <h1 class = "header"> HANGMAN GAME </h1>
    <div class = "container">
        <h1 class = "second_header" th:text = "'Game ' + ${game.id} + ' Page'"> header message</h1>
        <h3>Status:<span class = "status" th:text = "' ' + ${promptMessage.message}">game status</span></h3>
        <!-- for testing -->
        <p th:text = "${game.wordToBeGuessed}"></p>
        <div class = "play_container">
            <p><b id = "progress">Progress: </b><span id = "revealed" th:each="s: ${word}" th:text ="${s}"> </span></p>
        </div>
        <p>You have made <b><span th:text = "' ' + ${game.totalNumberOfGuesses} + ' '"></span></b> guess(es), out of which you have made
            <b><span th:text ="${game.numberOfIncorrectGuesses}"></span></b> incorrect guess(es).</p>
        <form action = "#" th:action = "@{/game}" th:object = "${game}" method = "POST">
            <label>Your guess:</label>
            <input type = "text" th:field = "*{characterEntered}" maxlength="1"/>
            <input type = "submit" value = "Make a guess"/>
        </form>
        <br>

        <a th:href = "@{/welcome}" > Back to Welcome page </a>
    </div>

</body>
</html>