.container {
    max-width: 50em;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 8em auto;
    padding: 1em 2em;
    align-items: center;
    justify-content: center;
}