body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(90,201,152,1) 0%, rgba(6,149,177,1) 68%);
}

.container {
    max-width: 50em;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    margin: 5em auto;
    padding: 1em 2em;
    align-items: center;
    justify-content: center;
}

.second_header {
    text-align: center;
}

.status {
    font-weight: bold;
    color: green;
}

a {
    margin: 1em;
}

 .play_container {
    background-color: #007099;
    padding: 1em 2em;
    margin: 1em;
 }

 #progress, #revealed {
    color: white;
 }