html {
    font-family: sans-serif;
}

input[type=submit], input[type=text] {
    padding: 0.8em;
    font-size: 0.8em;
}

input[type=text] {
    border: 1px solid grey;
    width : 5em;
}

input[type=submit] {
    background: #2196F3;
    color: white;
    border-radius: 0.5em;
    cursor: pointer;
}

input[type=submit]:hover {
    background: #0b7dda;
}

.header {
    color: white;
    background-color: #1E90FF;
    text-align: center;
    margin-top: 0;
    padding: 0.5em;
}